html,body{
 margin: 0px;
 font-family: 'Roboto', sans-serif;
 font-family: 'Roboto Slab', serif;
 box-sizing: border-box;
}
a,a:visited{
  color: inherit;
  text-decoration: none;
}
body{
 /*background: linear-gradient(#FFB2D0,#FEFEFF);*/
 //background: pink

}
.welcome{
  //position:relative;
}
.welcome_container{
 position: absolute;
}
.welcome_image{ //Usa el image_tag de rails para dar estilo
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.welcome_text{
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: -40%;
  background-color: lightgray;
  opacity: 0.6;
}
.white{
 color:#585858;
}
.large-padding{
 padding: 10px 7px;
}
.cabecera{
  background: linear-gradient(#FFB2D0,#FEFEFF);
}
li:nth-child(3){
  height: 70px;
}
.no-list{
  list-style-type: none;
}
.denuncia{
  color:red;
}
.iconright{
  float: right;
  padding-right: 15px;
  padding-top: 15px;
}
.iconleft{
  padding-left: 15px;
  padding-top: 15px;
}
.social_header{
  //display: flex;
  align-content: center;
}
.footer{
  background: #f3d5e2;
  position:relative;
}
