html,body{
 margin: 0px;
 font-family: 'Roboto', sans-serif;
 font-family: 'Roboto Slab', serif;
}
body{
 /*background: linear-gradient(#FFB2D0,#FEFEFF);*/
 background: pink;
}
.be-red{

}
.white{
 color:darkgray;
}
.large-padding{
 padding: 10px, 7px;
}
