<section class="masthead">
  <div class="wrapper">
    <div class="container-fluid">
      <%= image_tag("girl_2.jpg",class:"welcome") %>
    </div>
    <div class="cuadro-mensaje">
      <h2>Queremos verte <strong>ASalvo!</strong></h2><br/>
      <button type="button" class="btn btn-light "><a href="#playstore">Descargar</a></button>
    </div>
  </div>
  <%= yield %>
</section>
