page-educacion {

}

.colorRosado{
  background-image: linear-gradient(#ffdde8, white);
}

.transparente{
  background-color: rgba(0,0,0,0);
}

.medioTransparente{
  opacity: 0.5;
  align-content: white;
}
